/* line 25, ../sass/app.scss */
body {
  background-color: white;
  color: #666666;
  font-family: "Open sans", Sans-serif;
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/app.scss */
a {
  text-decoration: none;
}

/* line 41, ../sass/app.scss */
h1 {
  margin-top: 0;
}

/* line 47, ../sass/app.scss */
#contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 55, ../sass/app.scss */
#contentLeft {
  z-index: 10;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #283c51;
}

/* line 67, ../sass/app.scss */
#contentRight {
  padding: 1.3rem 2rem;
  margin-left: 250px;
}

/* line 76, ../sass/app.scss */
#leftNavigation {
  margin: 2rem 0;
}
/* line 80, ../sass/app.scss */
#leftNavigation, #leftNavigation li ul {
  list-style: none;
  padding: 0;
}
/* line 89, ../sass/app.scss */
#leftNavigation li a {
  font-size: 0.875rem;
  display: block;
  padding: 0.8rem 1rem 0.8rem 3rem;
  color: #adadad;
  border-bottom: solid 1px #395673;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 101, ../sass/app.scss */
#leftNavigation li a, #leftNavigation li a .leftNavIcon {
  line-height: 120%;
}
/* line 108, ../sass/app.scss */
#leftNavigation li a .leftNavIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  padding: 0.8rem 0;
  text-align: center;
}
/* line 123, ../sass/app.scss */
#leftNavigation li a:hover {
  color: white;
}
/* line 131, ../sass/app.scss */
#leftNavigation li ul {
  display: none;
  margin: 0;
  background-color: #17232f;
}
/* line 140, ../sass/app.scss */
#leftNavigation li ul li a {
  border-bottom: solid 1px #233547;
}
/* line 148, ../sass/app.scss */
#leftNavigation li ul li:last-child a {
  border-bottom: none;
}
/* line 158, ../sass/app.scss */
#leftNavigation li ul li.active a {
  color: white;
}
/* line 172, ../sass/app.scss */
#leftNavigation li.active > a {
  color: white;
}
/* line 178, ../sass/app.scss */
#leftNavigation li.active ul {
  display: block;
}
/* line 190, ../sass/app.scss */
#leftNavigation > li.active {
  background-color: #427c97;
}
